* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
body {
  color: #555;
  font-size: 16px;
  position: relative;
  height: 100vh;
  background-color: rgba(191,219,247,0.6);
}
.right {
  float: right;
}
.red {
  color: #DB222A !important;
}
.red-focus:focus {
  border: 3px solid #DB222A !important;
} 


.top {
  height: 40vh;
  background-image: linear-gradient(rgba(42,157,143,0.8), rgba(219,34,42,0.6)), url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.budget {
  position: absolute;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.budget__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
}
.budget__value {
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
.budget__income,
.budget__expenses {
  padding: 12px;
  text-transform: uppercase;
}
.budget__income {
  margin-bottom: 10px;
  background-color: #2a9d8f;
}
.budget__expenses {
  background-color: #DB222A;
}
.budget__income--text,
.budget__expenses--text {
  float: left;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  margin-top: 2px;
}
.budget__income--value,
.budget__expenses--value {
  letter-spacing: 1px;
  float: left;
}
.budget__income--percentage,
.budget__expenses--percentage {
  float: left;
  width: 34px;
  font-size: 11px;
  padding: 3px 0;
  margin-left: 10px;
}
.budget__expenses--percentage {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  border-radius: 3px;
}

.add {
  padding: 14px;
  border-top: 3px solid #053C5E;
  border-bottom: 3px solid #053C5E;
  background-color: rgba(191,219,247);
}
.add__container {
  margin: 0 auto;
  text-align: center;
}
.add__type {
  width: 55px;
  border: 1px solid #8d99ae;
  height: 44px;
  font-size: 18px;
  background-color: #fff;
  margin-right: 10px;
  font-weight: 500;
  transition: border 0.3s;
  cursor: pointer;
}
.add__description,
.add__value {
  border: 1px solid #8d99ae;
  background-color: #fff;
  font-size: 14px;
  padding: 12px 15px;
  margin-right: 10px;
  border-radius: 5px;
  transition: border 0.3s;
}
.add__description {
  width: 400px;
}
.add__value {
  width: 100px;
}
.add__btn {
  font-size: 35px;
  background: none;
  border: none;
  color: #2a9d8f;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1;
  margin-left: 10px;
}
.add__btn:active {
  transform: translateY(2px);
}
.add__type:focus,
.add__description:focus,
.add__value:focus {
  outline: none;
  border: 3px solid #2a9d8f;
}

.container {
  width: 1000px;
  margin: 60px auto;
}
.income {
  float: left;
  width: 475px;
  margin-right: 50px;
}
.expenses {
  float: left;
  width: 475px;
}
h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.icome__title {
  color: #2a9d8f;
}
.expenses__title {
  color: #DB222A;
}
.item {
  padding: 13px;
  border-bottom: 2px solid #175676;
}
.item:first-child {
  border-top: 2px solid #175676;
}
.item:nth-child(even) {
  background-color: #edf2f4;
}
.item__description {
  float: left;
}
.item__value {
  float: left;
  transition: transform 0.3s;
}
.item__percentage {
  float: left;
  margin-left: 20px;
  transition: transform 0.3s;
  font-size: 11px;
  background-color: rgb(219,34,42, 0.4);
  padding: 3px;
  border-radius: 3px;
  width: 32px;
  text-align: center;
}
.income .item__value,
.income .item__delete--btn {
  color:#2a9d8f;
}
.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
  color: #DB222A;
}
.item__delete {
  float: left;
}
.item__delete--btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  display: none;
}
.item__delete--btn:focus {
  outline: none;
}
.item__delete--btn:active {
  transform: translateY(2px);
}
.item:hover .item__delete--btn {
  display: block;
}
.item:hover .item__value {
  transform: translateX(-20px);
}
.item:hover .item__percentage {
  transform: translateX(-20px);
}